<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="easyCoreSystemSetup" class="com.sap.cx.boosters.easy.core.setup.EasyCoreSystemSetup">
        <!-- constructor arg injection example -->
        <constructor-arg ref="easyCoreService"/>
    </bean>

    <bean id="easyCoreService" class="com.sap.cx.boosters.easy.core.service.impl.DefaultEasyCoreService">
        <property name="modelService" ref="modelService"/>
        <property name="mediaService" ref="mediaService"/>
        <property name="flexibleSearchService" ref="flexibleSearchService"/>
    </bean>
</beans>

greeterService(GreeterService) {
        spring = spring
    }
    easyTestBeanService(MyEasyTestBeanService)
    priceService(EasyPriceService) {
        spring = spring
    }